<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

	<title></title>
</head>
<body >
<header><h4>和客服一聊天</h4></header>

<div class="container" id="wrapper">
	<div id="scroller">
		<ul id="chat_rl">
			<li class="chat_time">2016:01:12 12:20</li>

		</ul>
	</div>
</div>


<footer>
	<div class="footerCon">
		<button id="f_l" class="l"></button>
		<input class="m" type="text" placeholder="在这里和我对话啊">
		<button class="r"></button>
	</div>
	<div class="footerXun"><span>表情</span><span data="picture">相册 <input type="file" accept="image/jpeg,image/png"> </span><span data="photo">照机</span></div>
</footer>

<script type="text/javascript" src="javascripts/iscroll.js"></script>
<script src="javascripts/jquery-2.1.4.min.js"></script>
<script src="javascripts/socket.io-1.2.0.js"></script>
<script src="javascripts/index.js"> </script>

</body>
</html>