<!doctype html>
<html lang="en" ng-app="chat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body  ng-keydown="keydown($event)">
<!--loadding-->
<div class="loadding" ng-controller="loaddingController">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<!--登录界面-->
<div class="login"  ng-controller="loginController">
    <div class="showTip" ng-show="config.tipIsShow">
        <em>{{config.info}}</em>
    </div>
    <div class="loginin">
        <div class="top"><p>Already have an account?</p>
            <p>Log In Here</p></div>
        <input type="text" placeholder="Username" ng-model="username" ng-maxlength="10" required>
        <input type="text" placeholder="Password" ng-model="password" ng-maxlength="10" required>
        <div class="bottom">
            <label for="check"><input type="checkbox" ng-model="rember" id="check" ng-disabled="!rember">Keep me
            </label>
            <button ng-touch="send(event)">Log In »</button>
        </div>
    </div>
</div>

<!--菜单界面-->
<div class="menu"  ng-controller="menuController" >
    <div class="menu_main">
        <div class="menu_main_top">
            <!--头像-->
            <img class="menu_main_top_photo" src="./image/menu_03.png" alt="">
            <!--编辑-->
            <img class="menu_main_top_edit" src="./image/menu_06.png" alt="">
            <h4 class="menu_main_top_name">{{config.username}}</h4>
        </div>
        <div class="menu_main_menu">
            <ul ng-touch="friendShow(event)">
                <li ng-repeat="name in config.menu">{{name.name}}</li>
            </ul>
        </div>
    </div>
</div>

<!--好友界面-->
<div class="friend"  ng-controller="friendController"  >
    <!--头部-->
    <div class="firend_top">
        <div class="firend_menu" ng-touch="menushow(event)"></div>
        <h4 class="logo">Chat</h4>
    </div>

    <!--好友列表-->
    <div class="firend_list" ng-touch="chat(event)">
        <ul>
            <li ng-repeat="a in config.friendList">
                <div class="firend_contain"><h4 class="firend_name">{{a.name}}</h4>
                    <span class="time">{{a.time}}</span>
                    <p>{{a.moto}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>


<!--聊天界面-->
<div class="chat"  ng-controller="chatlistController" >
    <div class="chat_top">
        <div class="chat_top_back" ng-touch="back()"></div>
        <h4>{{config.name}}</h4>
        <div class="chat_top_person"></div>
    </div>
    <div class="chat_contain">
        <div id="scroller">
            <ul>
                <li ng-repeat="a in config.chatInfoList" ng-class="{chat_left: a.type==1, chat_right: a.type==2,chat_time:a.type==3}"
                    repeat-done="repeatDone()">
                    <img src="{{a.imgSrc}}" ng-if="a.type!=3" alt="">
                    <p ng-if="a.msgtype==1">{{a.body}}</p>
                    <p ng-if="a.msgtype==2" style="color: gray;" data-stream="{{a.stream}}" ng-touch="voicePlay(event);">语音</p>
                    {{a.time}}
                </li>
            </ul>
        </div>
    </div>
    <div class="chat_bottom">

        <!--语音消息-->
        <div class="voiceInfo" ng-hide="voiceInfoShow"></div>
        <div class="voice"  touch-Start="voiceStart()" touch-End="voiceEnd()"></div>




        <div class="add"></div>
        <input class="input" ng-model="talk" type="text">
        <div class="send" ng-touch="send()"></div>
    </div>
</div>
<script data-main="js/app" src="js/lib/requireJs.js"></script>
</body>
</html>