<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        *{
            font-family: "Microsoft Yahei";
            box-sizing: border-box;
            margin: 0px;
        }
        .title_list{
            width: 900px;
            height: 400px;
            margin: 0 auto;
            padding-left: 20px;
            border: 1px solid gray;
        }
        .item{
            position: absolute;
            top: 100px;
            left: 400px;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: gray;
        }
        input:focus{
            border-color: red;
        }
    </style>

</head>
<body>
<div class="title_list">
    <div class="item" style="transform: rotate(30deg) translate(10px,0px);"></div>
    <div class="item" style="transform: rotate(60deg);"></div>
    <div class="item"></div>
    <div class="item"></div>


</div>
<input type="text"/>
</body>
</html>